extends ./common/layout-enter
block content
    .video-container
        //- video(src="./asset/homepage.mp4",autoplay="",loop="",poster="./asset/home_poster.jpg")
    .download-container
        .shadow-black
        .download-content
            .log
            .cn-title 用音乐改变世界
            .en-title Leapp Music
            a.entr(href="./home.html") 进入思清音乐
